@charset "utf8";

/*首页文章图片获取焦点放大*/
.item-thumb{
    cursor: pointer;  
    transition: all 0.6s;  
}

.item-thumb:hover{
      transform: scale(1.05);  
}

.item-thumb-small{
    cursor: pointer;  
    transition: all 0.6s;
}

.item-thumb-small:hover{
    transform: scale(1.05);
}

/*首页文章版式圆角化*/
.panel{
    border: none;
    border-radius: 7px;
}

.panel-small{
    border: none;
    border-radius: 7px;
}

.item-thumb{
    border-radius: 7px;  
}



/*panel阴影*/
.panel{
   box-shadow: 1px 1px 1px 3px rgba(0,0,0);
    -moz-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255);
}

.panel:hover{
    box-shadow: 1px 1px 1px 3px rgba(255, 255, 255);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0);
}

.panel-small{
    box-shadow: 1px 1px 1px 3px rgba(0,0,0);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0);
}

.panel-small:hover{
    box-shadow: 1px 1px 1px 3px rgba(255, 255, 255);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0);
}

.app.container {
    box-shadow: 0 0 5px rgba(0,0,0);

}
/*滑动头图阴影*/
.blog-post .panel:not(article) {
	transition: all .3s
}

.blog-post .panel:not(article):hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 10px rgba(7, 75, 173, 0.78)
} 
/**/
.comment-content-true a, .wrapper-lg .entry-content a {
    color: #58666e;
    border-bottom-color: #222;
    border-bottom: 0px solid #999;
    word-wrap: break-word;
    word-break: break-all;
}

.OwO .OwO-logo {
	height: 28px
}

#tag_toc.fixed #toc {
	width: 100%
}

.page-navigator .next a,.page-navigator .prev a {
	height: 31px
}

.page-navigator>li:last-child>a,.page-navigator>li:last-child>span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px
}

.item-thumb-small {
	background-position: left
}
/*头图样式*/
@media screen and (min-width:1200px) {
	
	
	/*头图卡片高度*/
	.panel .item-thumb {
		height: 300px
	}


	#post-panel .panel {
		overflow: hidden
	}
	
	#post-panel .panel .post-meta {
		position: relative;
		margin-top: -300px;
		height: 300px;
		padding-top: 133px!important;
		padding-bottom: 0!important;
		background-color: rgba(0,0,0,.3);
		color: #fff!important;
		transition: all .3s
	}

	#post-panel .panel .post-meta,#post-panel .panel-small .post-meta {
		border-radius: 5px
	}

	#post-panel .panel .post-meta *,#post-panel .panel-small .post-meta * {
		color: #fff!important
	}

	#post-panel .panel .post-meta>h2,#post-panel .panel-small .post-meta>h2 {
		text-align: center;
		text-shadow: 0 0 3px #fff
	}

	#post-panel .panel .post-meta>p,#post-panel .panel .post-meta>div,#post-panel .panel-small .post-meta>p,#post-panel .panel-small .post-meta>div {
		transition: all .3s;
		transform: translateY(-10px);
		opacity: 0
	}
/*头图内博主信息样式*/
	#post-panel .panel .post-meta>.text-muted,#post-panel .panel-small .post-meta>.text-muted {
		position: absolute;
		bottom: 20px
	}


/*首页头图分割线*/
	#post-panel .panel .post-meta>.line {
		position: absolute;
		bottom: 40px;
		width: 740px
	}



/*首页头图内副标题样式*/
	#post-panel .panel .post-meta>.summary {
		position: absolute;
		bottom: 60px;
		width: 740px
	}

/*头图阴影底层*/
	#post-panel .panel:hover .post-meta,#post-panel .panel-small:hover .post-meta {
		background-color: rgba(0,0,0,.6)
	}

	#post-panel .panel:hover .post-meta>p,#post-panel .panel:hover .post-meta>div,#post-panel .panel-small:hover .post-meta>p,#post-panel .panel-small:hover .post-meta>div {
		opacity: 1;
		transform: translateY(0)
	}

	#post-panel .panel:hover .post-meta,#post-panel .panel-small:hover .post-meta {
		padding-top: 80px!important
	}



	
}
/*头图样式结束*/
/*header.bg-light.wrapper-md {
	margin-top: 30px;
	background-color: transparent!important;
	background-size: 100%;
	border: 0;
	text-align: center;
	text-shadow: 0 0 3px #000
}

header.wrapper-md * {
	color: #000
}

header.wrapper-md h1 {
	font-size: 32px
}

header.wrapper-md h1 {
	font-weight: bold!important
}*/
/*视频挂载*/
.iframe_video {
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .iframe_video {
        height: 15em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .iframe_video {
        height: 20em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .iframe_video {
        height: 30em;
    }
}

@media only screen and (min-width: 1200px) {
    .iframe_video {
        height: 40em;
    }
}

.iframe_cross {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%
}

.iframe_cross iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.panel h2 {
	text-align: center
}

.post-item-foot-icon {
	text-align: center
}

.OwO.OwO-open .OwO-body {
	display: table
}

.img-full {
	width: 100px;
	border-radius: 50%;
	animation: light 4s ease-in-out infinite;
	transition: .5s
}
/*头像呼吸灯*/
@keyframes light {
	0% {
		box-shadow: 0 0 4px #ca00ff
	}

	25% {
		box-shadow: 0 0 16px #00b5e5
	}

	50% {
		box-shadow: 0 0 4px #00f
	}

	75% {
		box-shadow: 0 0 16px #b1da21
	}

	100% {
		box-shadow: 0 0 4px #f00
	}
}
/*头像旋转*/
.img-circle {
	transition: all .3s
}

.img-circle:hover {
	transform: scale(1.15) rotate(360deg)
}

.btn-pay {
	animation: star .5s ease-in-out infinite alternate
}


/*标题居中*/
.panel h2 {
	text-align: center
}

.no-padder {
	text-align: center
}

.bg-light .lter, .bg-light.lter {
    text-align: center!important;
    /*font-family: 楷体!important;*/
}


.thumb-sm {
	animation: light 4s ease-in-out infinite;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	transition: .5s
}

.thumb-sm:hover {
	transform: scale(1.15) rotate(360deg)
}

.badge {
	background-color: #000
}
#toc {
    background: #fff0;
}
.post-tags a {
    background-color: #000000;  
}
/* 页面特效 by Leo */
@keyframes pop{
0%{opacity:0;transform:scale(0.2);-ms-transform:scale(0.2);}
60%{opacity:0.75;transform:scale(1.1);-ms-transform:scale(1.1);}
100%{opacity:1;transform:scale(1);-ms-transform:scale(1);}
}
@-moz-keyframes pop{
0%{opacity:0;-moz-transform:scale(0.2);}
60%{opacity:0.75;-moz-transform:scale(1.1);}
100%{opacity:1;-moz-transform:scale(1);}
}
@-webkit-keyframes pop{
0%{opacity:0;-webkit-transform:scale(0.2);}
60%{opacity:0.75;-webkit-transform:scale(1.1);}
100%{opacity:1;-webkit-transform:scale(1);}
}
@keyframes fastr{
0%{opacity:0;transform:translate(0,60px);}
100%{opacity:1;transform:translate(0,0);}
}
@-webkit-keyframes fastr{
0%{opacity:0;-webkit-transform:translate(0,60px);}
100%{opacity:1;-webkit-transform:translate(0,0);}
}
@-moz-keyframes fastr{
0%{opacity:0;-moz-transform:translate(0,60px);}
100%{opacity:1;-moz-transform:translate(0,0);}
}
@keyframes afastr{
0%{opacity:0;transform:translate(0,-60px);}
67%{opacity:1;transform:translate(0,0);}
86%{opacity:1;transform:translate(0,-2px);}
100%{opacity:1;transform:translate(0,0);}
}
@-webkit-keyframes afastr{
0%{opacity:0;-webkit-transform:translate(0,-60px);}
67%{opacity:1;-webkit-transform:translate(0,0);}
86%{opacity:1;-webkit-transform:translate(0,-2px);}
100%{opacity:1;-webkit-transform:translate(0,0);}
}
@-moz-keyframes afastr{
0%{opacity:0;-moz-transform:translate(0,-60px);}
67%{opacity:1;-moz-transform:translate(0,0);}
86%{opacity:1;-moz-transform:translate(0,-2px);}
100%{opacity:1;-moz-transform:translate(0,0);}
}
@keyframes fastscale{
0%{opacity:0;transform:scale(0.2,1) translate(-226px,0);}
100%{opacity:1;transform:scale(1,1) translate(0,0);}
}
@-webkit-keyframes fastscale{
0%{opacity:0;-webkit-transform:scale(0.2,1) translate(-226px,0);}
100%{opacity:1;-webkit-transform:scale(1,1) translate(0,0);}
}
@-moz-keyframes fastscale{
0%{opacity:0;-moz-transform:scale(0.2,1) translate(-226px,0);}
100%{opacity:1;-moz-transform:scale(1,1) translate(0,0);}
}
.fwinmask{animation:pop 0.4s;-moz-animation:pop 0.4s;-webkit-animation:pop 0.4s;}
.p_pop{animation:afastr 0.2s;-moz-animation:afastr 0.2s;-webkit-animation:afastr 0.2s;}
.fastpreview{animation:afastr 0.5s;-webkit-animation:afastr 0.5s;-moz-animation:afastr 0.5s;}
.pct{animation:fastr 0.5s;-webkit-animation:fastr 0.5s;-moz-animation:fastr 0.5s;}
.tip{animation:pop 0.3s;-webkit-animation:pop 0.3s;-moz-animation:pop 0.3s;}
#hd h2{animation:afastr 0.4s;-webkit-animation:afastr 0.4s;-moz-animation:afastr 0.4s;}
#um,#toptb,.pns{animation:afastr 1s;-webkit-animation:afastr 1s;-moz-animation:afastr 1s;}
#hd h2{transition:all .15s ease-out;-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;}
#hd h2:hover{transform:scale(1.07) rotate(-1deg);-webkit-transform:scale(1.07) rotate(-1deg);-moz-transform:scale(1.07) rotate(-1deg);}
.avt{transition:all .15s ease-out;-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;}
.avt:hover{transform:scale(1.07);-webkit-transform:scale(1.07);-moz-transform:scale(1.07);}
#scbar_txt{transition:all 0.25s ease;-webkit-transition:all 0.25s ease;-moz-transition:all 0.25s ease;}
#scbar_txt:focus,#scbar:hover #scbar_txt{width:450px}
#ls_username,#ls_password{transition:all 0.25s ease;-webkit-transition:all 0.25s ease;-moz-transition:all 0.25s ease;}
#ls_username:focus,#ls_password:focus{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);}
a{transition:all 0.2s linear;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;}
a:hover,a:visited:hover{text-shadow:#585858 0px 0px 3px;text-decoration:none;}
.fl_g:hover img{transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);}

.appl img,.fl_icn_g img{transition:all 0.2s linear;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;}
.appl li:hover img{transform:rotate(20deg);-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg);}
.bui{animation:fastscale 0.2s;-webkit-animation:fastscale 0.2s;-moz-animation:fastscale 0.2s;}
